<div class="card my-5" style="width: 100%;">
  <div class="card-header">
    ユーザー一覧
  </div>
  <ul class="list-group list-group-flush">
    <% @users.each do |user| %>
        <li class="list-group-item user-item">
            <div>
                <%= link_to user_path(user), class: "no-text-decoration" do %>
                    <%= image_tag avatar_url(user), class: "post-profile-icon mx-3" %>
                <% end %>
                <%= link_to user_path(user), class: "black-color no-text-decoration",
                    title: user.name do %>
                    <strong><%= user.username %></strong>
                <% end %>
            </div>
            <% if user != current_user %>
              <div class="index-follow">
                  <% if user_signed_in? && user != current_user %>
                    <div id="follow_form">
                      <% if current_user.following?(user) %>
                        <%= form_for(current_user, url: relationship_path(user), method: :delete, remote: true) do |f| %>
                          <%= f.submit "フォロー", class: "btn btn-primary" %>
                        <% end %>                      
                      <% else %>
                        <%= form_for(current_user, url: relationships_path, method: :post, remote: true) do |f| %>
                          <%= hidden_field_tag :following_id, user.id %>
                          <%= f.submit "フォロー", class: "following-btn btn btn-outline-primary" %>
                        <% end %>                      
                      <% end %>
                    </div>
                  <% end %>
              </div>
            <% end %>
        </li>
    <% end %>
  </ul>
</div>
